
.inputTxt {
    text-align: center;
    width: 400px;
    border: 1px solid;
}

.div1 {
    position: absolute;
    border: 1px solid;
    width: 200px;
    text-align: center;
    float: left
}

.div2 {
    position: absolute;
    border: 1px solid;
    text-align: center;
    border: 1px solid;
    width: 200px;
    float: right;
}
