.tkb
{

}
.header1{
    font-family:arial,arial;
    padding:20px;
    text-align: center;
    background: white;
    color: blue;
    font-size: 15px;
}
.header2
{
    font-family: arial, arial;
    padding: 20px 300px;
    text-align: left;
    background: blue;
    color: blue;
}
